<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.anymore.example">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".mvvm.ExampleApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <!--<activity-->
                <!--android:name=".mvvm.view.SplashActivity"-->
                <!--android:screenOrientation="portrait"-->
                <!--android:theme="@style/fullScreenStyle">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
                android:name=".mvvm.view.register.RegisterActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mvvm.view.login.LoginActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mvvm.view.main.MainActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"/>
        <activity
                android:name=".mvvm.view.web.WebActivity"
                android:screenOrientation="portrait"
                android:hardwareAccelerated="true"
                android:configChanges="orientation|screenSize"/>
        <activity
                android:name=".mvvm.view.knowledges.KnowledgesTabActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mvvm.view.collect.CollectedArticlesActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mvvm.view.web.ExtendedWebActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mvvm.view.FragmentActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".mvvm.view.todo.TodoTabActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".mvvm.view.coroutines.CoroutinesActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--<activity android:name=".mvvm.view.web.UrlActivity"-->
                  <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->


        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.FileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
                android:name="com.anymore.example.app.ExampleRepositoryConfig"
                android:value="repositoryModuleConfig"/>
        <meta-data
                android:name="com.anymore.example.app.glide.GlideConfig"
                android:value="AppGlideModule"/>
    </application>

</manifest>